*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
}
  
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1F2544;
    color: #ffffff;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    z-index: 1000;
    /* From https://css.glass */
    background: rgba(31, 37, 68, 0.36);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(31, 37, 68, 0.3);
}

header .logo h1{
    font-size: 1.5em;
    color: #FFD0EC;
}

header nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

header nav ul li{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.nav-mobile{
    height: 100vh;
    width: 0;
    overflow: hidden;
    background-color: #1F2544;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-mobile ul{
    display: flex;
    flex-direction: column;
}



.open{
    width: 100%;
    transition: all 0.3s ease-in-out;
    overflow-y: hidden;
}

header ul li::after{
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

header ul li:hover::after{
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.btn-action button{
    background-color: #FFD0EC;
    padding: 0.5rem 3rem;
    border: 1px solid #81689D;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #1F2544;
    transition: all 0.3s ease-in-out;
}

.btn-action button:hover{
    background-color: #1F2544;
    border: 1px solid #FFD0EC;
    color: #FFD0EC;
    transition: all 0.3s ease-in-out;
}

header .menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

header .menu span{
    display: inline-block;
    width: 1.2rem;
    height: 0.1rem;
    background-color: #FFD0EC;
}

/* Hero Section */

main .hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem;
}


main .hero .hero-text h1{
    font-size: 4em;
    color: #FFD0EC;
}

main .hero .hero-text{
    max-width: 45rem;
}

main .hero .hero-text p{
    margin-bottom: 2rem;
}

main .hero .hero-img{
    position: relative;
    display: flex;
    justify-content: center;
    width: 20rem;
}

main .hero .hero-img img{
    width: 100%;
}

main .hero .hero-img span{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFD0EC;
    border-radius: 50%;
    z-index: -1;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 4rem 0;
    position: relative;
}

section h1{
    font-size: 4em;
    color: #FFD0EC;
}

/* Expertise  */
.expertise-img{
    width: 20rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.expertise-img img{
    max-height: 45rem;
}

.expertise-img span{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 50%;
    left: 0;
    background-color: #FFD0EC;
    border-radius: 50%;
    z-index: -1;
}

.expertise{
    max-width: 40rem;
}

.expertise h1{
    font-size: 4em;
    color: #FFD0EC;
}

.expertise ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
}

.expertise ul li{
    height: 2rem;
    width: 7rem;
    background-color: #474F7A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #FFD0EC;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.expertise ul li:hover{
    background-color: #FFD0EC;
    color: #474F7A;
    border: 1px solid #81689D;
    transition: all 0.3s ease-in-out;
}

/* Contact */

.contact{
    display: flex;
    justify-content: center;
    gap: 15rem;
    padding: 5rem;
    min-height: 35rem;
}

.left-contact{
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    position: relative;
}

.left-contact h1{
    font-size: 2em;
    color: #FFD0EC;
}

.left-contact p{
    font-size: 1em;
}

.left-contact .donation{
    position: absolute;
    bottom: 0;
    background-color: #474F7A;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.left-contact .donation h2{
    color: #FFD0EC;
    
}

.left-contact .donation p{
    margin-bottom: 1rem;
    font-size: 0.9em;
}

.right-contact{
    max-width: 40rem;
}

.right-contact form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.right-contact form label{
    margin-top: 1rem;
    padding-left: 5px;
}

.right-contact form input{
    height: 2.5rem;
    width: 25rem;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #474F7A;
    color: #ffffff;
    border: 1px solid #81689D;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.right-contact form input:focus{
    border-color: #FFD0EC;
    outline: none;
}

.right-contact form textarea{
    height: 5rem;
    overflow-y: auto;
    resize: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    background-color: #474F7A;
    color: #ffffff;
    border: 1px solid #81689D;
    cursor: pointer;
    padding: 10px;
}

.right-contact form textarea:focus{
    outline: none;
    border-color: #FFD0EC;
    transition: all 0.3s ease-in-out;
}

footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width:1366px) {
    section{
        height: 100vh;
    }
}


  